.card {
    border: none; /* Убираем стандартную рамку Bootstrap */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень */
}

.card-title {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.card-text {
    color: black;
    font-feature-settings: 'dnom' on;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px; 
}
.news-wrapper {
    max-width: 80%; /* Настройте значение по вашему усмотрению */
    margin: 0 auto; /* Центрирование блока */
}
.news__card-link {

    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Цвет текста не меняется */
}