/* Стили для контейнера фильтров */
.filter-container {
    width: 265px; /* Установите ширину контейнера */
    padding: 20px;
    border-radius: 3px;
    border: 1px solid  #AEAEAE;
}

/* Заголовок фильтров */
.filter-title {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-bottom: 10px;
    text-align: left;
}

/* Стили для групп фильтров */
.filter-group {
    margin-bottom: 15px;
}

.text_cloth {
    font-family: "Montserrat", sans-serif;
    color:  #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-align: left;
}

/* Стили для чекбоксов и их меток */
.filter-group label {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
}

.filter-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

/* Стили для ползунка цены */
.price-filter label {
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.price-filter input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

.filter-submit {
    background-color: #A0AECD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.filter-submit:hover {
    background-color: #8A9BB8;
}



.products__cards {
	display: flex;
    margin-top: 60px;
	justify-content: center; /* Центрирование карточек в контейнере */
	list-style-type: none;
}

.products__cards2 {
    margin-left: 270px;
	display: flex;
    margin-top: 30px;
	justify-content: center; /* Центрирование карточек в контейнере */
	list-style-type: none;
    
}

.products__card {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 30px 30px; /* Отступы между карточками */
	padding: 35px 20px 40px;
	width: 351px;
	min-height: 485px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.products__card:hover .products__card-nav {
	opacity: 1;
}

.products__card-title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-bottom: 15px;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.2px;
}

.products__card-price {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	font-size: 24px;
}

.products__card-img {
    width: 201px;
 height: auto;
	margin: auto;
}

.products__card-nav {
	position: absolute;
	left: 50%;
	top: 53%;
	display: flex;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s;
}

.products__card-item:not(:last-child) {
	margin-right: 15px; /* Этот отступ можно оставить без изменений, так как он применяется только к элементам навигации внутри карточки */
}
