/* Стили для контейнера фильтров */
.filter-container {
    width: 265px; /* Установите ширину контейнера */
    padding: 20px;
    border-radius: 3px;
    border: 1px solid  #AEAEAE;
    margin-top: 60px;
}

/* Заголовок фильтров */
.filter-title {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-bottom: 10px;
    text-align: left;
}

/* Стили для групп фильтров */
.filter-group {
    margin-bottom: 15px;
}

.text_cloth {
    font-family: "Montserrat", sans-serif;
    color:  #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-align: left;
}

/* Стили для чекбоксов и их меток */
.filter-group label {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
}

.filter-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

/* Стили для ползунка цены */
.price-filter label {
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.price-filter input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

.filter-submit {
    background-color: #A0AECD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.filter-submit:hover {
    background-color: #8A9BB8;
}
