.sale-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #6d7b99;
}
.sale-heading {
    position: absolute;
    top: 30%;
    left: 34.27%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 604px;
    height: 15px;
}
.sale-close-icon {
    position: absolute;
    height: 22%;
    width: 0.47%;
    top: 39.47%;
    right: 21.09%;
    bottom: 38.53%;
    left: 78.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.sale {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 40px;
    color: #fff;
}
.sub-menu-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #a0aecd;
}
.div1 {
    position: absolute;
    height: 25.45%;
    width: 56.47%;
    top: 36.36%;
    left: 33.73%;
    letter-spacing: 0.05em;
    font-weight: 600;
    display: inline-block;
}
.group-child {
    position: absolute;
    height: 13.04%;
    width: 87.5%;
    top: 43.48%;
    right: 12.5%;
    bottom: 43.48%;
    left: 0%;
    background-color: #dcdcdc;
}
.group-item {
    position: absolute;
    height: 13.04%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 86.96%;
    left: 0%;
    background-color: #dcdcdc;
}
.group-inner {
    position: absolute;
    height: 13.04%;
    width: 75%;
    top: 86.96%;
    right: 25%;
    bottom: 0%;
    left: 0%;
    background-color: #dcdcdc;
}
.rectangle-parent {
    position: absolute;
    height: 41.82%;
    width: 15.69%;
    top: 29.09%;
    right: 74.12%;
    bottom: 29.09%;
    left: 10.2%;
}
.sub-menu-heading {
    position: absolute;
    height: 100%;
    width: 13.28%;
    top: 0%;
    right: 65.63%;
    bottom: 0%;
    left: 21.09%;
}
.div2 {
    position: absolute;
    height: 100%;
    width: 16.37%;
    top: 0%;
    left: 0%;
    letter-spacing: 0.05em;
    display: inline-block;
    cursor: pointer;
}
.div3 {
    position: absolute;
    height: 100%;
    width: 37.53%;
    top: 0%;
    left: 62.47%;
    letter-spacing: 0.05em;
    display: inline-block;
    cursor: pointer;
}
.div4 {
    position: absolute;
    height: 100%;
    width: 33.5%;
    top: 0%;
    left: 23.93%;
    letter-spacing: 0.05em;
    display: inline-block;
    cursor: pointer;
}
.sub-menu-nav {
    position: absolute;
    height: 21.82%;
    width: 20.68%;
    top: 38.18%;
    right: 43.39%;
    bottom: 40%;
    left: 35.94%;
    font-size: 12px;
    color: #000;
}
.sub-menu {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 1920px;
    height: 55px;
    font-size: 14px;
    color: #fff;
}
.footer-background1 {
    position: absolute;
    height: 99.68%;
    width: 100%;
    top: 0.32%;
    right: -0.05%;
    bottom: 0%;
    left: 0.05%;
    background-color: #a0aecd;
}
.img-0839-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190px;
    height: 100px;
    object-fit: cover;
}
.royal-attue {
    margin: 0;
    font-weight: 300;
}
.i {
    font-weight: 300;
}
.p {
    margin: 0;
}
.span {
    font-weight: 300;
    font-family: Montserrat;
}
.footer-text {
    position: absolute;
    top: 121px;
    left: 0px;
    line-height: 20px;
    display: inline-block;
    width: 300px;
    height: 120px;
}
.footer-info {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 300px;
    height: 241px;
    font-size: 13px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 108px;
    height: 15px;
}
.div6 {
    position: absolute;
    top: 35px;
    left: 40px;
    display: inline-block;
    width: 170px;
    height: 12px;
    cursor: pointer;
}
.div7 {
    position: absolute;
    top: 62px;
    left: 40px;
    display: inline-block;
    width: 170px;
    height: 12px;
    cursor: pointer;
}
.div8 {
    position: absolute;
    top: 89px;
    left: 40px;
    display: inline-block;
    width: 170px;
    height: 27px;
    cursor: pointer;
}
.footer-links1-child {
    position: absolute;
    top: 8px;
    left: 0px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 135px;
}
.footer-links1 {
    position: absolute;
    top: 53px;
    left: 394px;
    width: 210px;
    height: 142px;
}
.div10 {
    position: absolute;
    top: 35px;
    left: 40px;
    display: inline-block;
    width: 108px;
    height: 12px;
    cursor: pointer;
}
.div11 {
    position: absolute;
    top: 62px;
    left: 40px;
    display: inline-block;
    width: 116px;
    height: 12px;
    cursor: pointer;
}
.div12 {
    position: absolute;
    top: 89px;
    left: 40px;
    display: inline-block;
    width: 136px;
    height: 12px;
    cursor: pointer;
}
.div13 {
    position: absolute;
    top: 116px;
    left: 40px;
    display: inline-block;
    width: 108px;
    height: 12px;
    cursor: pointer;
}
.footer-links2 {
    position: absolute;
    top: 53px;
    left: 649px;
    width: 176px;
    height: 142px;
}
.div14 {
    position: absolute;
    top: 0px;
    left: 19px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 108px;
    height: 15px;
}
.div15 {
    position: absolute;
    top: 35px;
    left: 39px;
    display: inline-block;
    width: 130px;
    height: 27px;
}
.div16 {
    position: absolute;
    top: 77px;
    left: 39px;
    display: inline-block;
    width: 130px;
    height: 12px;
}
.royalattuegmailcom {
    position: absolute;
    top: 104px;
    left: 39px;
    display: inline-block;
    width: 150px;
    height: 12px;
}
.footer-contacts {
    position: absolute;
    top: 53px;
    left: 869px;
    width: 189px;
    height: 142px;
}
.mir-logo-icon {
    position: absolute;
    top: 0px;
    left: 130px;
    width: 55px;
    height: 35px;
    object-fit: cover;
}
.master-card-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 35px;
    object-fit: cover;
}
.old-visa-logosvg-icon {
    position: absolute;
    top: 0px;
    left: 65px;
    width: 55px;
    height: 35px;
    object-fit: cover;
}
.mir-logo-parent {
    position: absolute;
    top: 213px;
    left: 904px;
    width: 185px;
    height: 35px;
}
.footer-copyring {
    position: absolute;
    top: 287px;
    left: calc(50% - 95px);
}
.footer-line {
    position: absolute;
    top: 266.5px;
    left: -0.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1141px;
    height: 1px;
}
.footer {
    position: absolute;
    top: 8px;
    left: 391px;
    width: 1140px;
    height: 287px;
}
.footer-background {
    position: absolute;
    top: 741px;
    left: 0px;
    width: 1920px;
    height: 316px;
    font-size: 12px;
}
.img-0839-icon1 {
    position: absolute;
    height: 106.67%;
    width: 16.67%;
    top: -6.67%;
    right: 83.33%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.div17 {
    position: absolute;
    top: 9px;
    left: 40.3px;
    display: inline-block;
    width: 149px;
    height: 10px;
}
.icons8-100 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.header-info-2 {
    position: absolute;
    top: 0px;
    left: 243.7px;
    width: 189.3px;
    height: 30px;
}
.div18 {
    position: absolute;
    top: 9px;
    left: 40px;
    white-space: pre-wrap;
    display: inline-block;
    width: 185px;
    height: 10px;
}
.header-info-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 225px;
    height: 30px;
}
.div19 {
    position: absolute;
    top: calc(50% - 6px);
    left: 39.68px;
    display: inline-block;
    width: 217px;
    height: 10px;
}
.header-info-3 {
    position: absolute;
    top: 0px;
    left: 453.32px;
    width: 256.7px;
    height: 30px;
}
.header-info-2-parent {
    position: absolute;
    top: 0px;
    left: 18px;
    width: 710px;
    height: 30px;
}
.header-search-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    width: 444px;
    height: 32px;
}
.header-search-btn-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    background-color: #dcdcdc;
    width: 45px;
    height: 32px;
}
.header-search-btn {
    position: absolute;
    top: 0px;
    left: 474px;
    width: 45px;
    height: 32px;
}
.header-search {
    position: absolute;
    top: 58px;
    left: 101px;
    width: 519px;
    height: 32px;
}
.icons8-512 {
    position: absolute;
    top: 62px;
    left: 585px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}
.div20 {
    position: absolute;
    top: 67px;
    left: 106px;
    font-size: 12px;
    color: #dcdcdc;
    display: inline-block;
    width: 74px;
    height: 12px;
}
.header-center {
    position: absolute;
    height: 60%;
    top: 20%;
    bottom: 20%;
    left: calc(50% - 370px);
    width: 740px;
}
.basket2-icon {
    position: absolute;
    height: 100%;
    width: 28.55%;
    top: 0%;
    right: 71.45%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.div21 {
    position: absolute;
    height: 34.41%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
}
.div22 {
    position: absolute;
    height: 35.29%;
    width: 100%;
    top: 64.71%;
    left: 0%;
    display: inline-block;
}
.parent {
    position: absolute;
    height: 68%;
    width: 31.45%;
    top: 16%;
    right: 28.55%;
    bottom: 16%;
    left: 40%;
}
.div23 {
    position: absolute;
    height: 34.29%;
    width: 54.05%;
    top: 0%;
    left: 46.03%;
    display: inline-block;
    cursor: pointer;
}
.div24 {
    position: absolute;
    height: 34.29%;
    width: 100%;
    top: 65.71%;
    left: 0%;
    display: inline-block;
}
.group {
    position: absolute;
    height: 70%;
    width: 28.55%;
    top: 14%;
    right: 0.02%;
    bottom: 16%;
    left: 71.43%;
    text-align: right;
}
.header-cart {
    position: absolute;
    height: 33.33%;
    width: 15.59%;
    top: 33.33%;
    right: 0.05%;
    bottom: 33.33%;
    left: 84.36%;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1110px;
    height: 150px;
}
.header-wrapper {
    position: absolute;
    top: 50px;
    left: 405px;
    width: 1110px;
    height: 150px;
}
.div25 {
    position: absolute;
    top: 0px;
    left: 59px;
    font-weight: 600;
}
.div26 {
    position: absolute;
    top: 56px;
    left: 0px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 488px;
}
.container {
    position: absolute;
    top: 501px;
    left: 682px;
    width: 488px;
    height: 90px;
    font-size: 32px;
}
.icon {
    position: absolute;
    top: 345px;
    left: 861px;
    width: 131px;
    height: 116px;
}
.div {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1057px;
    overflow: hidden;
    text-align: left;
    font-size: 11px;
    color: #000;
    font-family: Montserrat;
}

