.empty-cart-message{
    color:  #000;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.empty-cart-text{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 180px;
}
.cart-icon5{
    margin-top: 80px;
    margin-bottom: 40px;
    width: 200px;
    height: auto;
}