body {
    background-image: url('./../../img/back/photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 790px;
    height: 473px; /* Фиксированная высота */
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирует содержимое по вертикали */
}

.form-inner {
    width: 396px;
}

h2 {
    margin-top: 5px;
    font-size: 32px;
    font-weight: bold;
    color: #A0AECD;
}

.form-label {
    margin-bottom: 1px !important; /* Уменьшение отступа между метками */
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}


.form-control {
    width: 396px;
    height: 32px;
    border: 2px solid #a0aecd;
    font-size: 12px;
    padding-left: 5px;
    margin: 0 auto; /* Центрирует поле */
    border-radius: 3px;
}

/* Настройки для конкретных полей */
#cardNumber, #email {
    margin-left: 0; /* Убедиться, что поля начинаются в начале */
}

/* Сдвиг полей для выравнивания с началом меток */
#cardNumber, #email {
    margin-left: 0;
}

/* Контейнер для полей "CVV" и "Срок действия" */
.cvv-expiry-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Отступ 10px между полями */
    width: 396px;
    margin: 0 auto; /* Центрирует контейнер */
    border-radius: 3px;
}

/* Поля "CVV" и "Срок действия" */
.form-control-small {
    width: 193px;
    height: 32px;
    border: 2px solid #a0aecd;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 3px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #a0aecd;
}

.btn-primary {
    width: 118px;
    height: 28px;
    background-color: #A0AECD;
    border: none;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A0AECD;
    color: #000000;
    box-shadow: none;
}

.btn-secondary {
    width: 90px;
    height: 28px;
    background-color: #ffffff;
    color: #A0AECD;
    font-size: 11px;
    font-weight: 400;
    border: 1px solid #DCDCDC;
    text-align: center;
    border-radius: 3px;

}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #ffffff;
    color: #A0AECD;
    box-shadow: none;
}

.form-check-label {
    font-size: 12px;
    color: #000000;
}

.d-flex .form-label {
    margin-bottom: 5px;
}

.d-flex input[type="text"],
.d-flex input[type="email"] {
    font-size: 12px;
}

/* Поля для CVV и срока действия */
.me-2,
.ms-2 {
    width: 193px;
    display: inline-block; /* Убедиться, что поля ровно выровнены */
}

/* Адаптация для ноутбуков */
@media (max-width: 1200px) {
    .login-container {
        width: 650px;
    }
    .form-control {
        width: 180px;
    }
}

@media (max-width: 992px) {
    .login-container {
        width: 550px;
    }
    .form-control {
        width: 160px;
    }
    .me-2,
    .ms-2 {
        width: 160px;
    }
}
