body {
    background-image: url('./../../img/back/photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.login-container {
    width: 790px;
    height: 473px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    color: #A0AECD;
}

.form-label {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 210px;
    height: 30px;
    border: 2px solid #a0aecd;
}


.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #a0aecd;
}

.btn-primary {
    width: 118px;
    height: 28px;
    background-color: #A0AECD;
    border: none;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A0AECD;
    color: #000000;
    box-shadow: none;
}

.btn-secondary {
    width: 90px;
    height: 28px;
    background-color: #ffffff;
    color: #A0AECD;
    font-size: 11px;
    font-weight: 400;
    border: 1px solid #DCDCDC;
    text-align: center;
    border-radius: 3px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #ffffff;
    color: #A0AECD;
    box-shadow: none;
}

@media (max-width: 1200px) {
    .login-container {
        width: 650px;
        height: auto;
    }
    .form-control {
        width: 180px;
    }
    .btn-primary {
        width: 100px;
        height: 24px;
    }
}

@media (max-width: 992px) {
    .login-container {
        width: 550px;
        height: auto;
    }
    .form-control {
        width: 160px;
    }
    .btn-primary {
        width: 90px;
        height: 22px;
    }
}